body {
    font-family: 'Rajdhani', sans-serif;
}

#logs {
    overflow: scroll !important;
}

.stat-lg {
    font-weight: 700;
    font-size: 85px;
    line-height: 30px;
}

.stat-md {
    font-weight: 700;
    font-size: 60px;
    line-height: 30px;
}

#vis-content {
    height: 100vh;
}

#motion-map {
    height: 750px;
    width: 770px;
}

.navbar-brand {
    font-weight: 700;
}

#motion-map-title {
    padding-top: 15px;
    padding-left: 15px;
}

.mode-badge {
    margin-right: 10px;
}

.tyre-status {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: green;
    text-align: center;
    margin: 10px;
    font-weight: 700;
}
